:root {
  --barGraph1-color: #aab6ca;
  --barGraph2-color: #c7f0db;
  --font-color: #47515b;
}

body {
  margin: 30px;
  font-family: 'Montserrat', sans-serif;
  color: var(--font-color);
  /* background-color: #e3e7ea; */
}

h1 {
  text-align: center;
}

.Container {
  display: grid;
  grid-template-columns: 300px 1fr;
  justify-content: flex-start;
}

.center-element {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 750px) {
  .Container, .Occupations {
    display: block;
    text-align: center;
  }

  .Card--style {
    width: 80vw;
  }
}